html(lang="en")
	head
		meta(charset="utf-8")
		title Welcome
		link(rel='stylesheet', href='lib/css/style.css')
	body
		div#heading 
			div#logo 
				strong M
			h2 What is MonsterFan?
		div.subheading
			div.subcontainer
				h3 Connect.
		div.section
			div.subcontainer
				h4 A new way to meet others who love the same things that you do.
				p Finding people with interests relevent to our own is part of what we strive for every single day. Now, you can do this and more with ease!
				p MonsterFan is a great place to find people who share your passion and love for <strong>that</strong> T.V. show, video game, book, band, genre, hobby... the list goes on!
