html(lang="en")
	head
		meta(charset="utf-8")
		title Welcome
		link(rel='stylesheet', href='lib/css/style.css')
	body
		div.heading 
			h2 What is <strong class="branded">Monsterfan?</strong>
			div.menu
				a(href="#connect") Connect
				a(href="#wantsAndNeeds") Wants and Needs
				a(href="#appeal") Appeal
				a(href="#features") Features
		div.green
			div#connect.subheading
				div.arrow-down
				div.subcontainer
					h3 Connect.
			div.section
				div.subcontainer
					h4 A new way to meet others who love the same things that you do.
					p Finding people with interests relevent to our own is part of what we strive for every single day. Now, you can do this and more with ease!
					p MonsterFan is a great place to find people who share your passion and love for <strong>that</strong> T.V. show, video game, book, band, genre, hobby... the list goes on!
		div.grey
			div#wantsAndNeeds.subheading
				div.subcontainer.centered
					img(src="lib/images/g.png")
					h3 Wants and Needs.
			div.section
				div.subcontainer
					h4 What is needed from <strong class="branded">Monsterfan</strong>?
					p Several things need to be covered when it comes to what we want MonsterFan to do, to be, and to have.
					ul
						li 
							h3 What do we want to make?
							p Each of us likely has a different vision of what we will be getting out of this project. In your eyes, what is MonsterFan all about? Explain your concept of the site and its purpose in around 20 words.
						li 
							h3 What do we want to use?
							p There's got to be a reason to come to MonsterFan. What is it that we want to get out of MonsterFan, as users? What does MonsterFan potentially have to offer?
						li 
							h3 What will users want?
							p Every website needs active users to thrive. For someone to come to your website, you need to offer something that people want. What do you think that users will want from MonsterFan?
		div.green
			div#appeal.subheading
				div.subcontainer.centered
					img(src="lib/images/a.png")
					h3 Appeal.
			div.section
				div.subcontainer
					h4 How can we appeal to our niché?
					p For every startup, there needs to be an original userbase. That 'niché' group of people that have "been around since alpha." These users are incredibly important, and will likely shape what will inevitably be the type of users and content we will see on MonsterFan.
					p How can we appeal to these users? What can we offer that will bring them in?
		div.grey.last
			div#features.subheading
				div.subcontainer.centered
					img(src="lib/images/f.png")
					h3 Features.
			div.section
				div.subcontainer
					h4 What features will <strong class="branded">Monsterfan</strong> contain?
					ul
						li 
							h3 What is the core feature set?
							p What are the most basic features should MonsterFan have? 
							p What is absolutely needed?
						li 
							h3 How broad/narrow of an area should we cover?
							p What is the extent of what we're trying to do? Where do we draw the line with features? Just how general will our features be?
						li 
							h3 What is the ideal feature set?
							p What is the 'pie-in-the-sky' set of features that you think MonsterFan should have? Be as ambitious as you want. No idea is wrong. How can we make MonsterFan out of this world?
		div#footer
			small ©MonsterFan 2012. All rights reserved.