@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300|Cinzel+Decorative:700");

body {
	background-image: url("../images/n.png");
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.centered{
	text-align: center;
}
.green{
	background-color: #789319;
}
.grey{
	background-color: #bbb;
	border-top: solid 1px #AAA;
}
div.menu{
	background-color: #fff;
	width: 100%;
	text-align: center;
}
div.menu a{
	color: #777;
	font-size: 1.4em;
	font-weight: 400;
	text-decoration: none;
}
div.menu a:after{
	content: "—";
	margin: 0 10px;
}
div.menu a:last-child::after{
	content:"";
	margin: 0;
}
div.heading{
	background: #fff;
	color: #333;
	margin: 0;
	padding:20px;
	position: relative;
	text-align: center;
}
div.heading h2{
	font-weight: 300;
	font-size: 5em;
	margin: 15px;
}
div.heading h2 strong{
	color: #ffa86e;
}
.branded{
	font-family: 'Cinzel Decorative', serif;
	font-weight: 700;
	font-style: normal !important;
}
#logo{
	background-color: #789319;
	background-image: url("../images/n.png");
	border: 15px solid rgba(255,255,255,0.2);
	border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
	color: #fff;
	font-family: 'Cinzel Decorative', serif;
	font-size: 150px;
	height: 140px;
	left: 130px;
	line-height: 140px;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	text-shadow: 5px 0 0 #7a8e35, 4px 0 0 #7a8e35;
	width: 140px;
}
#logo strong{
	margin-left: -24px;
}
div.subheading{
	background-image: url("../images/n.png");
	margin: 0;
	position: relative;
	width: 100%;
}
.green div.subheading{
	background-color: rgba(0,0,0,0.3);
	border-bottom: solid 1px #82a01b;
}
.grey div.subheading{
	background-color: rgba(0,0,0,0.2);
	border-bottom: solid 1px #ddd;
}
div.subcontainer{
	width: 80%;
	margin: 0 auto;
	padding: 1em;
}
div.subheading h3{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	font-weight: 300;
	margin: 0;
}
.grey div.subheading h3{
	color: #222;
}
.arrow-down {
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 75px solid #fff;
	height: 0;
	left: 50%;
	margin: 0 auto; 
	margin-left:-75px;
	position: absolute;
	width: 0; 
}
div.section{
	background-image: url(../images/s.png);
}
div.section h4{
	font-style: italic;
	font-weight: 300;
	font-size: 3em;
	margin: 0;
}
.green div.section{
	color: #ddf390;
}
.grey div.section{
	color: #333;
	text-shadow: 1px 1px 0 #ccc;
}
div.section p{
	font-size: 1.2em;
}
.grey div.section p{
	text-shadow: 1px 1px 0 #ccc;
}
div.section strong{
	font-weight: 700;
	font-style: italic;
}
div.section ul{
	overflow: hidden;
	width: 100%;
	text-align: center;
	list-style: none;
}
div.section li{
	background-color: rgba(255,255,255,0.1);
	display: inline block;
	float: left;
	margin: 2%;
	position: relative;
	text-align: left;
	width: 28%;
}
div.section li:before {
   content:"";
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#8f8f8f #bbb;
}
div.section li h3{
	background-color: rgba(0,0,0,0.1);
	margin: 0 0 5px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
}
div.section li p{
	margin: 12px;
}

#footer{
	background-image: url(../images/s.png);
	box-shadow: inset 0 0 40px 15px #111;
	width: 100%;
	background-color: #222;
	margin: 0;
	padding 15px 0;
	text-align: right;
}
#footer small{
	margin-right: 50px;
	color: #aaa;
}